*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    background-color: white;
}

/* NAVBAR */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 50px;
    width: 100vw;
    margin: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.menu {
    display: flex;
}

.menu-icon,
.menu-btn{
    display: none;
}

.menu li a{
    padding: 3px 8px;
    margin: 0px 15px;
    color: #3b3b3b;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #202020;
}

.logo span{
    color: green;
}

.right-nav{
    display: flex;
    padding-right: 20px;
    margin-top: 10px;
}

.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.right-nav .like{
    background-color: #fff0ee;
    color: #ff6c57;
}

.right-nav .cart{
    background-color: #ecf7ee;
    color: #4eb060;
}

.right-nav .login{
    background-color: #eceff7;
    color: #4e65b0;
}

.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
    background-color: #202020;
}

.right-nav .like span{
    background-color: #ff6c57;
}

.right-nav .cart span{
    background: #4eb060;
}

.menu li a:hover{
    color: #40aa54;
    transition: all ease 0.3s;
}



/* Intro */
#intro{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 90%;
    height: 450px;
    margin: 100px auto;
    background-image: url(https://ronniecool.github.io/Book-Store/banner-bg.jpg);
    border-radius: 20px;
    padding: 80px 40px 100px 70px;
}

.intro-container{
    display: flex;
    height: 600px;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px;
    margin-top: -15px;
}

.intro-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://ronniecool.github.io/Book-Store/banner-bg.jpg);
    border-radius: 10px;
    min-height: 130px;
    width: 500px;
    border: 1px ;
    margin: 10px;
}

.intro-box img{
    height: 300px;
    width: 500px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
    margin-left: 10px;
}

.intro-img:hover{
    scale: 1.2;
    transform: all ease 0.1s;
}

.intro-box h3{
    color: #232829;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.intro-box p{
    color: #6a797c;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
}


.button {
    display: inline-block;
    background-color: #31b74a;
    color: #ffff;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: 1.2rem;
    transition: all ease 0.3s;
    text-align: center;
}
.button:hover {
    background-color: #458f53;
    transition: all ease 0.3s;
}


.search-box{
    background-color: #ffffff;
    height: 50px;
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30px;
}

.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b3b;
    margin: 0px 10px;
}

.search-box .search-text{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}

.search-box .search-btn{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    background-color: #4eb060;
    border: none;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;
}

.search-box .search-btn:hover{
    background-color: #5ccf71;
    transform: all ease 0.3s;
}



/* Category */
#category,
#best-selling-books,
#frequently-bought-series,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 100px auto;
}

.category-heading,
.product-heading,
.partner-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category-heading h2,
.product-heading h3,
.partner-heading h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
}

.product-heading span{
    color: #e03d28;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px;
}

.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.category-box img{
    height: 45px;
    width: 60px;
    object-fit: contain;
    object-position: center;
    transform: all ease 0.1s;
}

.category-box span{
    color: #393939;
    font-size: 0.9rem;
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}



/* Products Container  */
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}

.product-box{
    width: 100%;
    border: 1px solid #eeeeee;
    background-image: url(https://ronniecool.github.io/Book-Store/banner-bg.jpg);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    transition: all ease 0.3s;
}

.product-box:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all ease 0.3s;
}

.product-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
    transition: all ease 0.1s;
}

.product-box img:hover{
    transform: scale(1.05);
    transition: all ease 0.1s;
}

.product-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}

.product-box .writer{
    color: #202020;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin-bottom: 5px;
}

.product-box .genre{
    font-size: 0.8em;
    font-weight: 300;
    margin-bottom: 10px;
}

.product-box .price .price-old{
    margin-top: 10px;
    font-weight: 400;
    color: #393939;
}

.product-box .price .price-new{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    color: #f33b1f;
}

.product-box .cart-btn{
    width: 100%;
    height: 40px;
    background-color: #d7f1db;
    color: #4eb060;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;
}

.product-box .cart-btn{
    margin-right: 10px;
}

.product-box .cart-btn:hover{
    background-color: #4eb060;
    color: #ffffff;
    transition: all ease 0.3s;
}

.product-box .like-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #afaeae;
    font-size: 1.3rem;
    transition: all ease 0.3;
}

.product-box .like-btn:hover{
    color: #7d7b7b;
    transition: all ease 0.3s;
}



/* Recommendations */
#recommendations{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 100px auto;
    background-color: #ecf7ee;
    border-radius: 20px;
    align-items: center;
    padding: 30px 40px 0px 40px;
}

.recom-header{
    margin-top: 50px;
}



/* Clients */
#clients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f656;
    padding: 60px 0px;
    margin-top: 40px;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.client-heading{
    font-size: 1.56rem;
    color: #202020;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.client-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 90%;
    margin-top: 40px;
}

.client-box{
    background-color: #ffffff;
    padding: 30px 20px;
    border: 1px solid #f1f1f1f1;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.05);
    border-radius: 0px 30px 0px 30px;
    transition: all ease 0.1s;
}

.client-box:hover{
    transform: scale(1.05);
    transition: all ease 0.1s;
}

.client-profile{
    display: flex;
    align-items: center;
}

.client-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.profile-text strong{
    color: #393939;
    font-size: 1rem;
    font-weight: 600;
}

.profile-text span{
    color: #949494;
    font-weight: 500;
    font-size: 0.9rem;
}

.rating{
    display: flex;
    margin: 10px 0px;
}

.rating a{
    color: #fdcc0d;
}

.client-box p{
    color: #7c7c7c;
}


.form-container{
    display: flex;
    flex-direction: column;
    margin: 60px 40px;
    background-image: url(https://ronniecool.github.io/Book-Store/banner-bg.jpg);
    padding: 20px;
    width: 80%;
    border-radius: 20px;
}

.form-container h2{
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
}
.form-container h2 strong{
    font-weight: 700;
}
.form-container p{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
}

.form-input, .form-btn{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.name, .email, .review{
    display: flex;
    flex-direction: column;
}

.contact_label {
    font-size: 0.9em;
    color: black;
}

.input-bar {
    width: 100%;
    background-color: white;
    color: black;
    font-family: Poppins;
    font-size: 1em;
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
    border-radius: 10px;
}

.submit-btn{
    margin: 10px;
    left: 100px;
}

.form-btn{
    margin-top: 15px;
    margin-bottom: 10px;
    width: 30%;
    align-self: center;
}



/* Partner Logo  */
#partner{
    margin: 100px auto;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.logo-container img{
    height: 55px;
    object-fit: contain;
    object-position: center;
    filter: grayscale(1);
    opacity: 0.3;
    transition: all ease 0.3s;
}

.logo-container img:hover{
    filter: grayscale(0);
    opacity: 1;
    transition: all ease 0.3s;
}



/* Download App  */
#download-app{
    margin-top: 50px;
    max-width: 1150px;
    width: 100%;
    background-color: #ecf7ee;
    height: 400px;
    margin: 225px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.app-img{
    width: 300px;
    height: 500px;
    background-color: #ffffff;
    border:4px solid #393939;
    border-radius: 20px;
    overflow: hidden;
}

.app-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.download-app-text{
    max-width: 400px;
}

.download-app-text strong{
    color: #393939;
    font-size: 1.56rem;
}

.download-app-text p{
    color: #3b3b3b;
    margin: 15px 0px;
}

.download-btns{
    display: flex;
}

.download-btns a{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.download-btns a img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}



/* Footer  */
footer{
    background-color: #1b1d1f;
    padding: 50px 20px 10px 20px;
    border-top: 5px solid #4eb060;
}

.footer-container{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo a{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-logo a span{
    color: #4eb060;
}

.footer-social{
    display: flex;
    margin-top: 10px;
}

.footer-social a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff15;
    font-size: 0.9rem;
    margin: 0px 5px;
    transition: all ease 0.3s;
}

.footer-social a:hover{
    background-color: #4eb060;
    transition: all ease 0.3s;
}

.footer-links strong{
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
}

.footer-links ul{
    margin-top: 10px;
}

.footer-links ul li a{
    color: #ffffff;
    opacity: 0.5;
    margin: 4px 0px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    transition: all ease 0.3s;
}

.footer-links li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}

.bottom{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 0.5rem;
    color: white;
    text-align: center;
}



/* RESPONSIVE */

@media(max-width:1280px){
    search-banner{
        width: 1150px;
    }
}

@media(max-width:1200px){
    #search-banner{
        width: 90%;
        height: 500px;
    }
    #frequently-bought-series,
    #best-selling-books,
    #download-app{
        width: 90%;
    }
    #frequently-bought-series{
        padding: 50px 30px 0px 30px;
    }
}

@media(max-width:1050px){
    #intro,
    #category,
    #partner,
    #recommendations
    {
        width: 90%;
    }
    .intro-box{
        width: auto;
        height: auto;
    }
    .intro-container{
        margin-top: -15px;
    }
}

@media(max-width:1000px){
    #intro{
        padding: 70px 0px 60px 55px;
    }
    .intro-container{
        margin: auto;
    }
    .intro-box{
        height: auto;
        width: auto;
    }
}

@media(max-width:965px){
    .navigation{
        justify-content: space-between;
        height: 65px;
        padding: 35px 25px;
    }
    .logo{
        font-size: 1.2rem;
    }
    .navigation .menu{
        display: none;  
        position: absolute;
        top: 65px;
        left: 0px;
        z-index: 100;
        background-color: #ffffff;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-bottom: 1px solid rgba(245, 245, 245);
    }
    .navigation .menu li{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 30px 20px;
        margin: 0px;
        border: 1px solid rgba(248, 247, 247, 0.5);
    }
    .menu-icon{
        display: block;
    }
    .navigation .menu-icon{
        cursor: pointer;
        float: right;
        padding: 5px;
        position: relative;
        user-select: none;
        z-index: 2;
    }
    .navigation .menu-icon .nav-icon{
        background-color: #141414cc;
        display: block;
        height: 2px;
        width: 25px;
        position: relative;
        transition: background 0.2s ease out;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: #141414cc;
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all ease out 0.2s;
    }
    .navigation .menu-icon .nav-icon::before{
        top: 7px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -7px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    .navigation .menu-btn:checked ~ .menu{
        display: block;
    }


    .intro-container{
        display: flex;
        height: 300px;
        flex-direction: column-reverse;
        justify-content: space-around;
        margin-left: -45px;
        margin-top: -10px;
    }
    .intro-box{
        /* justify-content: space-around; */
        min-height: 150px;
        margin-top: 25px;
        padding: 10px 10px;
    }
    .intro-box img{
        width: 200%;
        height: 150%;
    }
    .intro-box h3{
        margin-bottom: auto;
    }
    .category-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .category-box{
        margin: 10px;
    }
    .product-container{
        grid-template-columns: 1fr 1fr;
    }
    .client-box-container{
        grid-template-columns: 1fr 1fr;
    }
    .partner-heading{
        justify-content: center;
    }
    .logo-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-container img{
        margin: 10px;
    }
    .product-box .price .price-new{
        font-weight: 600;
    }
    #download-app{
        flex-direction: column;
        height: 100%;
        background-color: transparent;
        margin-top: 0px;
        width: 90%;
        max-width: 100%;
    }
    .app-img{
        height: 450px;
        width: 220px;
    }
    .download-app-text{
        max-width: 100%;
        background-color: #ecf7ee;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer-links{
        text-align: center;
    }
}

@media(max-width: 750px){
    /* #intro{
        height: 300px;
    } */
    .search-banner-text{
        margin-left: 20px;
    }
    .search-banner-text{
        font-size: 2rem;
        line-height: 30px;
    }
    .bg-1{
        display: none;
    }
    .client-box-container{
        grid-template-columns: 1fr;
    }
    #recommendations{
        padding: 30px 20px 20px 20px;
    }
    .intro-container{
        padding: 20px;
    }
    .intro-box{
        width: 95%;
    }
    
}

@media(max-width: 600px){
    .intro-container{
        margin-left: -45px;
        margin-top: -25px;
    }
    .intro-box{
        min-height: 128px;
        margin-top: 50px;
        padding: 4px 2px;
    }
    .intro-box h3{
        margin-bottom: 3px;
    }
}

@media(max-width:500px){
    .search-box{
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding-left: 10px;
    }
    .search-box i{
        font-size: 1rem;
    }
    .search-box .search-btn{
        height: 30px;
    }
    .category-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }
    .category-box{
        width: 100%;
        margin: 0px;
    }
    .product-container{
        grid-template-columns: 1fr;
    }
    #popular-budle-pack{
        padding: 30px 20px 0px 20px;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer-links{
        margin-top: 10px;
    }
}

@media(max-width: 400px){
    .category-heading h2,
    .product-heading h3,
    .client-heading h3,
    .partner-header h3{
        font-size: 1.2rem;
    }
}

@media(max-width:350px){
    .download-btns{
        flex-direction: column;
    }
    .download-btns a{
        margin: 4px 0px;
        width: 140px;
    }
    .download-btns a img{
        width: 100%;
    }
    .right-nav{
        grid-gap: 5px;
    }
}